<%= form_for(@course) do |f| %>


  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :course %><br>
  <%= f.text_field :name, class: "form-control", :autofocus => true %>
  <br>

  <div class="input-group">
    <% Student.order(:name).each do |student| %>
      <span class="input-group-addon">
      <%= student.name %>
      <%= check_box_tag 'course[student_ids][]', student.id, student.in?(@course.students.to_a), {class: "checkbox inline"} %>
      </span>
    <% end %>
  </div>

<div class="form-group">
    <%= f.submit class: "btn- btn-primary" %>
  </div>
<% end %>